<section class="svg">
	<svg version="1.1" id="curve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1200 300" enable-background="new 0 0 1200 300" xml:space="preserve">
	<path fill="" stroke="#36409A" stroke-miterlimit="10" d="M0,283.7C310.3,162.9,406.1,88.9,571.8,155.6s544.8,99,636.5,12.5
		v140.6H0V283.7z"/>
	<path fill="#FFFFFF" stroke="#452B7F" stroke-miterlimit="10" d="M594.7,382.7"/>
	</svg>	
</section>

<section class="sec2">
	<div class="container ">
		<div class="row ">
			<div class="col-12 my-5">
				<h2 class="text-center">Making curve edges using svg adobe illustrator</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id consequuntur velit accusantium fugiat quas, suscipit exercitationem atque provident illo ipsum. Accusantium, veniam, illum! Doloremque esse omnis, amet nostrum dicta consectetur laboriosam numquam reiciendis facere alias odio quas repellendus assumenda, porro, voluptatem labore placeat quis id tenetur rem quisquam veniam odit voluptas. Quis mollitia maxime ullam qui. Repellat vitae facere cum nesciunt deserunt ducimus odio, nisi impedit debitis obcaecati ex natus dignissimos vel qui deleniti unde pariatur? Blanditiis quibusdam eius non impedit cumque ducimus quo doloremque hic excepturi eligendi nihil, veritatis, consequuntur quia autem reprehenderit quasi et reiciendis optio molestiae temporibus.</p>
			</div>
			<div class="col-12 col-md-6">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus alias, sunt! Deleniti nisi eveniet incidunt quaerat dolorum accusamus velit, ea dolor tempore corporis est odio eos, hic voluptas ratione aut. Iusto quis asperiores natus fugiat, sapiente facilis ipsum nihil ipsam distinctio voluptatem in ut, numquam saepe recusandae earum et porro provident neque tempore necessitatibus hic quam accusantium aperiam voluptates laboriosam? Libero eligendi architecto saepe totam, iste praesentium debitis quis recusandae non ex sapiente perspiciatis facilis, ullam culpa ab sunt. Voluptatibus eos soluta ex eum, reiciendis. Totam beatae ea culpa vitae neque, perspiciatis quas. Maxime natus quod, delectus labore doloribus saepe.</p>
			</div>
		</div>
	</div>
</section>